.legal-info-container{
    margin: 40px 20px;
    height: 100%;
    overflow: auto;
}

.legal-info-container .heading h3{
    font-size: 2.5rem;
    font-weight: 400;
}

.legal-info-container .heading h4{
    /* padding: 10px; */
    /* border-radius: 5px; */
    margin-top: 20px;
    font-size: 1.5rem;
    font-weight: 400;
    /* background-color: aliceblue; */
}

.legal-info-container .heading h5 {
    font-size: 1rem;
    padding: 10px;
    border-radius: 5px;
    background-color: rgb(226, 235, 235);
}

.legal-info-container p{
    text-align: justify;
}

.legal-info-container p ul li{
    list-style: disc;
}