.fs-1 {
    font-size: 4px;
}

.fs-2 {
    font-size: 8px;
}

.fs-3 {
    font-size: 12px;
}

.fs-4 {
    font-size: 16px;
}

.fs-5 {
    font-size: 20px;
}

.fs-6 {
    font-size: 24px;
}

.fs-7 {
    font-size: 28px;
}

.fs-8 {
    font-size: 32px;
}

.fs-9 {
    font-size: 34px;
}

.fs-10 {
    font-size: 40px;
}