// .overlay-screen {
//     min-height: calc(100vh - 58px);
//     background-image: url('../../assets/img/home-screen.png');
//     background-size: cover;
//     opacity: 0.9;
//     /* padding: 20px; */
// }

// .overlay-screen .info{
//     padding-top: 3rem;
//     width:  70%;
//     margin: auto;
//     padding-bottom: 20px;
// }

// .overlay-screen .info h2{
//     /* font-size: ; */
//     padding: 3rem 0;
//     color: #FFFFFF;
//     /* font-size: 3rem; */
//     font-family: "Averia Serif Libre", serif; 
// }

// .overlay-screen .info p{
//     /* font-size: 1.2rem; */
//     color: #FFFFFF;
//     font-family: "Averia Serif Libre", serif; 
// }


// .btn-outline-primary{
//     color: #FFFFFF;
//     border-color: #FFFFFF;
//     /* font-weight: 600; */
// }

// .btn-outline-primary:hover {
//     /* background-color: #0E0741; */
//     background-color: #111827;
//     /* border-color: #0E0741; */
//     border-color: #111827;
// }

// .overlay-effect{
//     width: 100%;
//     height: 100%;
//     background-color: #0e07414b;
//     /* background-color: #1118277e; */
//     /* opacity: 0.5; */
// }


// .home-about-section {
//     display: flex;
//     column-gap: 2rem;
// }

// .home-about-section .home-about-left-section img {
//     border-radius: 10px;
// }

// .home-about-section .home-about-right-section {
//     display: flex;
//     flex-direction: column;
//     /* align-items: center; */
//     justify-content: center;
// }

// .home-about-section .home-about-right-section h4{
//     /* font-size: 1rem; */
//     color: #111827d7;
// }

// .home-about-section .home-about-right-section .home-about-section-tag-line{
//     /* font-size: 2.5rem; */
// }

// .home-about-section .home-about-right-section .home-about-section-desc {
//     /* font-size: 1.2rem; */
//     text-align: justify;
// }

// .home-about-right-section button {
//     color: #111827;
//     border-color: #111827;
//     width: max-content;
//     padding: 0.2rem 1rem;
// }


// /* After change 2 */
// .main-screen-overlay {
//     background-color: rgb(6, 6, 61);
//     /* background-color; */
//     opacity: 1;
//     height: 100%;
//     width: 100%;
// }
// .main-screen {
//     /* background-color: #001A77; */
//     background-image: url('../../assets/img/homepagebaneercopy.jpg');
//     height: calc(100vh - 58px);
//     background-repeat: no-repeat;
//     background-size: cover;
//     color: #000000 !important;
// }

// .main-screen .right{
//     /* background-image: url('../../assets/images/image5-removebg-preview.png');
//     height: calc(100vh - 58px);
//     background-repeat: no-repeat; */
//     /* background-size: cover; */
//     /* mix-blend-mode: multiply; */
//     display: flex;
//     justify-content: center;
//     align-items: center;
// } 

// .main-screen .right img {
//     height: 80%;
//     width: 90%;
//     /* margin: auto; */
// }

// .main-screen .left{
//     margin: auto;
//     /* padding-inline: 40px; */
//     display: flex;
//     justify-content: center;
//     /* align-items: center; */
// }

// .main-screen .left div{
//     margin: 100px;
//     /* margin-top: 80px; */
// }

// .main-screen .left h4{
//     color: #FFF;
//     /* font-size: 3rem; */
//     font-weight: bold;
//     margin-bottom: 20px;
//     font-family: Inter, sans-serif;
// }

// .main-screen .left p:first-letter {
//     text-transform: capitalize;
// }


// new css
.home-page {
    .main-screen-overlay {
        background-color: rgb(6, 6, 61);
        /* background-color; */
        opacity: 1;
        height: 100%;
        width: 100%;
    }

    .main-screen {
        background-image: url('../../assets/img/homepagebaneercopy.jpg');
        height: calc(100vh - 58px);
        background-repeat: no-repeat;
        background-size: cover;
        color: #000000 !important;
    }

    .main-screen .right {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .main-screen .right img {
        height: 80%;
        width: 90%;
    }

    .main-screen .left {
        margin: auto;
        display: flex;
        justify-content: center;
    }

    .main-screen .left div {
        margin: 150px 50px;
    }

    .main-screen .left h4 {
        color: #FFF;
        font-weight: bold;
        margin-bottom: 20px;
        font-family: Inter, sans-serif;
    }

    .main-screen .left h2 {
        color: #FFF;
        font-size: 40px;
    }

    .main-screen .left p {
        font-size: 20px;
        color: #FFF;
        margin: 10px 0;
    }

    .btn-outline-primary {
        color: #FFFFFF;
        border-color: #FFFFFF;
        padding: 5px 25px;
    }

    .btn-outline-primary:hover {
        background-color: #111827;
        border-color: #111827;
    }

    .home-about-section {
        .btn-outline-primary {
            color: #111827;
            border-color: #111827;
            padding: 5px 25px;
        }

        .btn-outline-primary:hover {
            color: #FFF;
        }
    
    }
}


/* SMARTPHONES PORTRAIT */
@media only screen and (min-width: 320px) and (max-width: 479px) {
    .home-page {

        .overlay-screen {
            min-height: auto;
            height: max-content;
        }
        
        .overlay-screen .info {
            width: 100%;
            margin-top: 0;
        }
        
        .overlay-screen .info h2 {
            padding: 1rem 0;
        }
        
        .home-about-section {
            flex-wrap: wrap;
        }
        
        // .home-about-left-section img {
        //     width: 100%;
        // }
        
        .main-screen .left {
            align-items: center;
        }
        
        .main-screen .left div {
            margin: 30px;
        }
        
        .main-screen .left h2 {
            font-size: 32px !important;
        }
        
        .main-screen .left p {
            font-size: 16px !important;
            margin: 10px 0 !important;
        }
        
        // .home-page {
            .main-screen {
                height: 100%;
            }
        // }
    
    } 
}

/* SMARTPHONES LANDSCAPE */
@media only screen and (min-width: 480px) and (max-width: 767px) {
    .home-page {

        .overlay-screen .info {
            width: 100%;
        }
        
        .overlay-screen .info h2 {
            /* font-size: 2rem; */
            padding: 1rem 0;
        }
        
        /*  */
        .home-about-section {
            flex-wrap: wrap;
        }
        
        .home-about-left-section img {
            width: 100%;
        }
        
        .home-about-right-section h4 {
            /* font-size: 1.5rem; */
        }
        
        
        .main-screen-overlay {
            height: max-content;
        }
        
        .main-screen .left {
            align-items: center;
            height: max-content;
        }
        
        .main-screen .left div {
            margin: 30px;
        }
        
        .main-screen .left h4 {
            /* font-size: 2.5rem; */
        }
        
        .main-screen .left p {
            /* font-size: 1.2rem; */
            line-height: 2.2rem;
        }
        
        // .home-page {
            .main-screen {
                height: 100%;
            }
        // }
    }
}
    
/* TABLETS PORTRAIT */
@media only screen and (min-width: 768px) and (max-width: 991px) {

    .home-page {

        /*  */
        .home-about-section {
            flex-wrap: wrap;
        }
        
        .home-about-left-section img {
            width: 100%;
        }

        .main-screen .left div {
            margin: 200px 40px;
        }
    }
}
    
    /* TABLET LANDSCAPE / DESKTOP */
@media only screen and (min-width: 992px) {}